<div class="navbar navbar-expand-sm navbar-lewagon">
  <ul class="navbar-nav me-auto text-center">
    <% if user_signed_in? %>
      <div class='text-center'>
        <li>
          <%= form_tag animals_path, method: :get, class: 'form-inline text-center d-flex form-search' do %>
            <div>
              <%= text_field_tag :address, params[:address], placeholder: "Find near you", class: 'form-control text-center search-location' %>
            </div>
            <div>
              <% label :distance, "Distance (Km) : " %>
              <% text_field_tag :distance, params[:distance], type: "number", default: 150 %>
            </div>
            <div class="search-button">
              <%= submit_tag 'Search', class: 'btn btn-primary search-btn' %>
            </div>
          <% end %>
        </li>
      </div>
      <li class="nav-item active">
        <%= link_to "Dog out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <li class="nav-item ml-5">
        <% if current_user.photo.attached?%>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        <% else %>
          <%= image_tag "avatar_dog.jpg", class: "avatar" %>
        <% end %>
      </li>
    <% else %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "catanddog-logo.gif" %>
      <% end %>
    <% end %>
  </ul>
</div>
