
<div class='container'>
<h1 class='pt-3 text-center'>Find Yourself a new Friend</h1>
 <div class="row my-2 px-5 pt-3">
    <%= form_tag animals_path, method: :get do %>
      <%= label :location, "Search animals near to: " %>
      <%= text_field_tag :address, params[:address], placeholder: "Street / City / Country" %>

      <%= label :distance, "Distance (Km) : " %>
      <%= text_field_tag :distance, params[:distance], type: "number" %>

      <%= submit_tag "Search" %>
    <% end %>
    <% @animals.each do |animal| %>
      <div class="col-6 col-sm-3 mb-4 pt-5" data-aos="zoom-in">
        <div class="bg-white rounded-5 shadow h-100">

          <% if animal.photos.attached? %>
              <span class='animal-img'><%= cl_image_tag animal.photos.first.key, height: 220, width: 220, crop: :fill, class: 'rounded mx-auto d-block pt-3' %></span>
          <% else %>
              <span class='animal-img'><%= image_tag "dog_card.jpg", class: "rounded mx-auto d-block pt-3" %></span>
          <% end %>

          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= animal.name %> <span class="text-muted font-weight-normal">• <%= animal.gender %> </span></strong>
            <small class="text-muted"><%= animal.specie %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <small class="text-right flex-shrink-0"><%= link_to 'View more', animal_path(animal) %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(Animal).create? %>
      <small class="text-right flex-shrink-0"><%= link_to 'Add new animal', new_animal_path(@animal), class: 'btn btn-success mt-3' %></small>
    <% end %>
  </div>
