<div class='container'>
 <div class="row my-2 px-5 pt-3">
    <% @animals.each do |animal| %>
      <div class="col-6 col-sm-3 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded-5 shadow h-100">

          <%# <%= cl_image_path animal.photo.key, crop: :thumb, gravity: :face, class: 'rounded-top mx-auto d-block pt-3' %> 
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= animal.name %> <span class="text-muted font-weight-normal">• <%= animal.gender %> </span></strong>
            <small class="text-muted"><%= animal.specie %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">

              <small class="text-right flex-shrink-0"><%= link_to 'delete', animal_path(animal), method: :delete, data: { confirm: "Are you sure you want to remove #{animal.name} from adoption list"}, class: 'text-danger' %></small>
              <small class="text-right flex-shrink-0"><%= link_to 'View more', animal_path(animal) %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <small class="text-right flex-shrink-0"><%= link_to 'Add new animal', new_animal_path(@animal), class: 'btn btn-success mt-3' %></small>
  </div>
