<div class="container mt-5 w-50">
  <div class="list-banner mt-5">
    <h1 class='text-center'>Add an animal for adoption</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <%= simple_form_for(@animal) do |f| %>
         <div class='grid-form'>
          <%= f.input :name, placeholder: "Add our little friend's name" %>
          <%= f.input :gender, collection: ['Male', 'Female'], default: 'Male' %>
        </div>
        <div  class='grid-form'>
          <%= f.input :age, collection: 0..30, default: 0 %>
          <%= f.input :size, collection: ['Small', 'Medium', 'Large', 'X-large'], default: 'Small' %>
        </div>
        <div class='grid-form'>
          <%= f.input :specie, collection: ['Dog', 'Cat', 'Bird', 'Turtle', 'Fish', 'Other'], default: 'Dog' %>
          <%= f.input :address, placeholder: 'Where you found our friend' %>
        </div>
        <%= f.input :description, placeholder: 'Tell more about our little / If other specie specifie here' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true }%>
        <%= f.submit "Create", class: "btn btn-outline-primary animal p-0" %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', animals_path, class: 'btn btn-outline-primary animal mt-3' %>
</div>
